body, html {
    height: 100%;
    margin: 0;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.bg {
    /* The image used */
    background-image: url("background.jpg");

    /* background-color: black; */
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageUser { 
    float:left;
    left: 10%;
    margin-left: 20px;
    margin-right: 20px;
}

.imageComment {
    float:left;
    left: -60%;
    margin-left: -60px;
    margin-right: 10px;
    margin-top: 60px;
}

.jumbotronColor {
    background: rgb(255, 255, 255); /* This is for ie8 and below */
    background: rgba(255, 255, 255, 1); /*, 1); */ 
 }